# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

.DS_Store

## Build generated
build/
DerivedData/

## Various settings
SafetyBeacon/*.pbxuser
SafetyBeacon/!default.pbxuser
SafetyBeacon/*.mode1v3
SafetyBeacon/!default.mode1v3
SafetyBeacon/*.mode2v3
SafetyBeacon/!default.mode2v3
SafetyBeacon/*.perspectivev3
SafetyBeacon/!default.perspectivev3
SafetyBeacon/xcuserdata/

## Other
SafetyBeacon/*.moved-aside
SafetyBeacon/*.xccheckout
SafetyBeacon/*.xcscmblueprint

## Obj-C/Swift specific
SafetyBeacon/*.hmap
SafetyBeacon/*.ipa
SafetyBeacon/*.dSYM.zip
SafetyBeacon/*.dSYM

## Playgrounds
SafetyBeacon/timeline.xctimeline
SafetyBeacon/playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
SafetyBeacon/.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#

SafetyBeacon\.xcworkspace/xcuserdata/philipleblanc\.xcuserdatad/UserInterfaceState\.xcuserstate
